:root {
  --white: #fff;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #0ca530;
  --danger: #e6091f;
  --warning: #feab1b;
  --info: #00a8c2;
  --dark: #343a40;
  --light: #f8f9fa;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}
/*text color*/
.text-white {
  color: var(--white);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-success {
  color: var(--success);
}
.text-danger {
  color: var(--danger);
}
.text-warning {
  color: var(--warning);
}
.text-info {
  color: var(--info);
}
.text-dark {
  color: var(--dark);
}
.text-light {
  color: var(--light);
}

/*backgorund color*/
.bg-white {
  background-color: var(--white);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-success {
  background-color: var(--success);
}
.bg-danger {
  background-color: var(--danger);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-info {
  background-color: var(--info);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}

/*buttons*/
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
/*primary*/
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}
.btn-primary:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-primary-outline {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--white);
}
.btn-primary-outline:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 2px solid var(--primary);
}
/*secondary*/
.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid var(--secondary);
}
.btn-secondary:hover {
  background-color: var(--white);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.btn-secondary-outline {
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid var(--white);
}
.btn-secondary-outline:hover {
  background-color: var(--white);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}
/*success*/
.btn-success {
  background-color: var(--success);
  color: var(--white);
  border: 2px solid var(--success);
}
.btn-success:hover {
  background-color: var(--white);
  color: var(--success);
  border: 2px solid var(--success);
}

.btn-success-outline {
  background-color: var(--white);
  color: var(--success);
  border: 2px solid var(--success);
}
.btn-success-outline:hover {
  background-color: var(--success);
  color: var(--white);
  border: 2px solid var(--success);
}
/*danger*/
.btn-danger {
  background-color: var(--danger);
  color: var(--white);
  border: 2px solid var(--danger);
}
.btn-danger:hover {
  background-color: var(--white);
  color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-danger-outline {
  background-color: var(--white);
  color: var(--danger);
  border: 2px solid var(--danger);
}
.btn-danger-outline:hover {
  background-color: var(--danger);
  color: var(--white);
  border: 2px solid var(--danger);
}
/*warning*/
.btn-warning {
  background-color: var(--warning);
  color: var(--white);
  border: 2px solid var(--warning);
}
.btn-warning:hover {
  background-color: var(--white);
  color: var(--warning);
  border: 2px solid var(--warning);
}

.btn-warning-outline {
  background-color: var(--white);
  color: var(--warning);
  border: 2px solid var(--warning);
}
.btn-warning-outline:hover {
  background-color: var(--warning);
  color: var(--white);
  border: 2px solid var(--warning);
}
/*info*/
.btn-info {
  background-color: var(--info);
  color: var(--white);
  border: 2px solid var(--info);
}
.btn-info:hover {
  background-color: var(--white);
  color: var(--info);
  border: 2px solid var(--info);
}

.btn-info-outline {
  background-color: var(--white);
  color: var(--info);
  border: 2px solid var(--info);
}
.btn-info-outline:hover {
  background-color: var(--info);
  color: var(--white);
  border: 2px solid var(--info);
}
/*dark*/
.btn-dark {
  background-color: var(--dark);
  color: var(--white);
  border: 2px solid var(--dark);
}
.btn-dark:hover {
  background-color: var(--white);
  color: var(--dark);
  border: 2px solid var(--dark);
}

.btn-dark-outline {
  background-color: var(--white);
  color: var(--dark);
  border: 2px solid var(--dark);
}
.btn-dark-outline:hover {
  background-color: var(--dark);
  color: var(--white);
  border: 2px solid var(--dark);
}

/*flex items*/
.flex-items {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 2rem;
}
.flex-items > div {
  padding: 2rem;
  flex-basis: 100%;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row .col {
  flex: 1;
}
.row .col .col-1 {
  height: 100%;
}
.row .col .col-1 img {
  width: 100%;
  height: 100%;
}
.row .col .col-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}
.row .col .col-2 h2 {
  font-size: 4rem;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.4rem;
}
.flex-grid .column {
  flex: 25%;
  padding: 1rem;
}
.flex-grid img:hover {
  opacity: 0.8;
}
.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.section-header h2 {
  font-size: 4rem;
}
.section-header p {
  font-size: 2rem;
}

.card-body h2 {
  font-weight: 400;
}
form {
  width: 100%;
}
form input,
form label {
  display: block;
  width: 100%;
}
form input {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
form label {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .flex-items {
    flex-direction: column;
  }
  .row .col {
    flex: 100%;
  }
  .flex-grid .column {
    flex: 50%;
  }
}
